---
import Articles from '../components/root/Articles.astro';
import Links from '../components/root/Links.astro';
import Projects from '../components/root/Projects.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="grid place-content-center place-items-center gap-16">
    <h1 class="text-center text-5xl">Yuto Nagata's Portfolio.</h1>

    <Links />

    <div
      id="projects"
      class="section"
    >
      <h3 class="text-center text-3xl">Projects</h3>
      <Projects />
    </div>

    <div
      id="articles"
      class="section"
    >
      <h3 class="text-center text-3xl">Articles</h3>
      <Articles />
    </div>
  </section>
</Layout>

<style>
  .section {
    @apply max-w-lg scroll-mt-20;
  }
</style>
