---
import Articles from '../components/root/Articles.astro'
import Links from '../components/root/Links.astro'
import Projects from '../components/root/Projects.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="grid mt-8 place-items-center gap-8">
    <h1 class="text-center text-5xl">Yuto Nagata's Portfolio.</h1>

    <Links />
  </section>

  <section
    id="projects"
    class="mx-auto mt-16 max-w-4xl"
  >
    <h3 class="mb-8 text-center text-3xl">Projects</h3>

    <Projects />
  </section>

  <section
    id="articles"
    class="mx-auto mt-16 max-w-lg"
  >
    <h3 class="mb-8 text-center text-3xl">Articles</h3>

    <Articles />
  </section>
</Layout>
