<header class="sticky top-0 z-50 flex justify-between bg-white p-4">
  <img
    src="/icon.svg"
    alt="icon"
    class="h-10"
  />
  <div>Yuto Nagata's Portfolio.</div>
  <!-- <div class="text-xl flex gap-4">
    <a href="#about">About Me</a>
    <a href="#works">Works</a>
    <a href="#articles">Articles</a>
  </div> -->
</header>
