<header class="sticky top-0 z-50 h-18 flex justify-between bg-white p-4">
  <figure>
    <img
      src="/icon.svg"
      alt="icon"
      class="h-10"
    />
  </figure>
  <div class="flex gap-4">
    <a href="#projects">Projects</a>
    <a href="#articles">Articles</a>
  </div>
</header>
