<header class="h-10 flex justify-between">
  <img src="/favicon.svg" alt="icon" class="bg-black h-full" />
  <div class="text-xl flex gap-4">
    <a href="">About Me</a>
    <a href="">Works</a>
    <a href="">Skills</a>
    <a href="">Articles</a>
  </div>
</header>
