<header class="sticky top-0 z-50 flex justify-between bg-white p-4">
  <img
    src="/icon.svg"
    alt="icon"
    class="h-10"
  />
  <div class="flex gap-4">
    <a href="#projects">Projects</a>
    <a href="#articles">Articles</a>
  </div>
</header>
