---
export interface Props {
  href: string;
  target?: 'blank';
}
const { href, target } = Astro.props;
---

{/* eslint-disable-next-line astro/jsx-a11y/control-has-associated-label */}
<a {href} target={`${target ? '_blank' : ''}`} class="flex gap-4">
  <slot />
</a>
