---
export interface Props {
  href: string;
  content: string;
  target?: 'blank';
  contentClass?: string;
}
const { href, content, target = '_blank', contentClass = '' } = Astro.props;
---

{/* eslint-disable-next-line astro/jsx-a11y/control-has-associated-label */}
<a
  {href}
  {target}
  class="flex gap-4 justify-items-start min-w-0"
>
  <div class="flex-none">
    <slot />
  </div>
  <p class:list={contentClass}>{content}</p>
</a>
