---
import { getCollection } from 'astro:content';
import WorksCard from './WorksCard.astro';
const entries = await getCollection('works');
---

<div class="mt-8 flex gap-4 flex-wrap justify-center">
  {entries.map((item) => <WorksCard work={item.data} />)}
</div>
