---
import { getCollection } from 'astro:content';
import WorksCard from './WorksCard.astro';
const entries = await getCollection('works');
---

<div class="mt-8 flex flex-wrap justify-center gap-4">
  {
    entries.map((item) => (
      <div class="flex-1">
        <WorksCard work={item.data} />
      </div>
    ))
  }
</div>
