---
import { getCollection } from 'astro:content';
import WorksCard from './WorksCard.astro';
const entries = await getCollection('works');
---

<h3 class="text-3xl text-center">Works</h3>

<div class="mt-8 flex flex-wrap gap-4 justify-center">
  {entries.map((item) => <WorksCard work={item.data} />)}
</div>
