---
import { getCollection } from 'astro:content';
import ProjectCard from './_ProjectCard.astro';
const entries = await getCollection('projects');
---

<div
  class="grid gap-4"
  md="grid-cols-2"
>
  {
    entries.map((item) => (
      <div class="flex-1">
        <ProjectCard work={item.data} />
      </div>
    ))
  }
</div>
