---
import { getCollection } from 'astro:content';
import ProjectCard from './_ProjectCard.astro';
const entries = await getCollection('projects');
---

<div
  class="mt-8 flex flex-col gap-4"
  md="flex-row flex-wrap justify-center"
>
  {
    entries.map((item) => (
      <div class="flex-1">
        <ProjectCard work={item.data} />
      </div>
    ))
  }
</div>
