/* Write your global styles here, in PostCSS syntax */
:root {
  --blue: #60a5fa;
  --sky-bule: #bfdbff;
  --gray: #1e293b;
}
.text-japanese {
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.rounded {
  border-radius: 0.25rem;
}
