---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>mouse's Portfolio</title>
	</head>
	<body class="p-4 w-4/5 mx-auto scroll-smooth">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
